body{
	background-image: url("http://www.fondosya.com/wallpapers/figuras_de_colores_en_con_fondo_negro_en_3d-1280x800.jpg")
}
img {
	width: 150px;
	height: 80px;
	margin-top: 20px;
	 border-style: inset; border-width: 4px; 
}
.principal{
	float: right;
	margin-left: 50px;
	margin-top: 40px;
	margin-right: 50px;
}
#animep {
	float: left;
	margin-left: 400px;
	margin-top: 100px;
	width: 400px;
	height: 400px;
    position: relative;
	transition: all 1s ease;
	transform: perspective(600px);
	transform-origin: 100% 50%;
	transform-style: preserve-3d;
}
#animep:hover{
transform: perspective(600px) rotateY(-180deg) translateX(100%);
}